{% extends 'form/base_form.html' %}

{% block content %}
    
    <form id='form_get' action='/menu/get' method=GET>
        <label>Menu Code</label>
        <input type=text name='menu_id' value=''>
        <input type=submit value='GET'class="btn btn-dark ">
    </form>

    <button id='btnMenuList'class="btn btn-dark ">Menu List</button>

    <form id='form_menu' action='/menu/save' method=POST>
        {% csrf_token %}
        <table id='MenuList' class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Menu ID</th>
                    <th>Menu Name</th>
                    <th>Price</th>
                    <th>Amount of Coffee</th>
                    <th>Amount of Milk</th>
                    <th>Amount of Chocolate</th>
                    <th>Amount of Syrup</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for list in menus %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ list.menu_id }}</td>
                        <td>{{ list.menu_name }}</td>
                        <td>{{ list.price }}</td>
                        <td>{{ list.amount_of_coffee }}</td>
                        <td>{{ list.amount_of_milk }}</td>
                        <td>{{ list.amount_of_chocolate }}</td>
                        <td>{{ list.amount_of_syrup }}</td>
                        <td></td>
                    <tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td id='btnAddMenu' class='btn'> + </td>
                    <td><input type='text' id='menu_id' name='menu_id' /></td>
                    <td><input type='text' id='menu_name' name='menu_name' /></td>
                    <td><input type='text' id='price' name='price' /></td>
                    <td><input type='text' id='amount_of_coffee' name='amount_of_coffee' /></td>
                    <td><input type='text' id='amount_of_milk' name='amount_of_milk' /></td>
                    <td><input type='text' id='amount_of_chocolate' name='amount_of_chocolate' /></td>
                    <td><input type='text' id='amount_of_syrup' name='amount_of_syrup' /></td>
                    <td><input type='submit' value='Add'class="btn btn-dark "></td>
                </tr>
            </tfoot>
        </table>
    </form>    
{% endblock %}

{% block script %}
<script>
    $(document).ready( function () {
        $('#btnMenuList').click(function() {
            console.log('btnMenuList');
            $.ajax({
                url:  '/menu/list',
                type:  'get',
                dataType:  'json',
                success: function  (data) {
                    let rows =  '';
                    var i = 1;
                    data.menus.forEach(menu => {
                        rows += `
                        <tr>
                            <td class='col-1'>${i++}</td>
                            <td class='col-2'>${menu.menu_id}</td>
                            <td class='col-2'>${menu.menu_name}</td>
                            <td class='col-3'>${menu.price}</td>
                            <td class='col-3'>${menu.amount_of_coffee}</td>
                            <td class='col-3'>${menu.amount_of_milk}</td>
                            <td class='col-3'>${menu.amount_of_chocoalte}</td>
                            <td class='col-3'>${menu.amount_of_syrup}</td>
                            <td class='hide'></td>
                        </tr>`;
                    });
                    $('#MenuList > tbody').html(rows);
                },
            });        
        });

        $('#btnAddMenu').click(function() {
            console.log('btnAddMenu');
            var token = $('[name=csrfmiddlewaretoken]').val();
            $.ajax({
                url:  '/menu/save2',
                type:  'post',
                data: $('#form_menu').serialize(),
                headers: { "X-CSRFToken": token },
                dataType:  'json',
                success: function  (data) {
                    let rows =  '';
                    var i = 1;
                    data.menus.forEach(menu => {
                        rows += `
                        <tr>
                            <td class='col-1'>${i++}</td>
                            <td class='col-2'>${menu.menu_id}</td>
                            <td class='col-2'>${menu.menu_name}</td>
                            <td class='col-3'>${menu.price}</td>
                            <td class='col-3'>${menu.amount_of_coffee}</td>
                            <td class='col-3'>${menu.amount_of_milk}</td>
                            <td class='col-3'>${menu.amount_of_chocoalte}</td>
                            <td class='col-3'>${menu.amount_of_syrup}</td>
                            <td class='hide'></td>
                        </tr>`;
                    });
                    $('#MenuList > tbody').html(rows);
                },
            });   
        });
    });
</script>
{% endblock %}
</body>
</html>
