{% extends 'form/base_form.html' %}

{% block content %}
    
    <form id='form_get' action='/dependent/get' method=GET>
        <label>Employee ID</label>
        <input type=text name='employee_id' value=''>
        <input type=submit value='GET'class="btn btn-dark ">
    </form>

    <button id='btnDependentList'class="btn btn-dark ">Dependent List</button>

    <form id='form_dependent' action='/dependent/save' method=POST>
        {% csrf_token %}
        <table id='DependentList' class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Employee ID</th>
                    <th>Dependent Name</th>
                    <th>Phone Number</th>
                    <th>Relationship</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for list in dependents %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ list.employee_id_id }}</td>
                        <td>{{ list.name }}</td>
                        <td>{{ list.phone_number }}</td>
                        <td>{{ list.relationship }}</td>
                        <td></td>
                    <tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td id='btnAddDependent' class='btn'> + </td>
                    <td><input type='text' id='employee_id' name='employee_id' /></td>
                    <td><input type='text' id='dependent_name' name='name' /></td>
                    <td><input type='text' id='phone_number' name='phone_number' /></td>
                    <td><input type='text' id='relationship' name='relationship' /></td>
                    <td><input type='submit' value='Add'class="btn btn-dark "></td>
                </tr>
            </tfoot>
        </table>
    </form>    
{% endblock %}

{% block script %}
<script>
    $(document).ready( function () {
        $('#btnDependentList').click(function() {
            console.log('btnDependentList');
            $.ajax({
                url:  '/dependent/list',
                type:  'get',
                dataType:  'json',
                success: function  (data) {
                    let rows =  '';
                    var i = 1;
                    data.dependents.forEach(dependent => {
                        rows += `
                        <tr>
                            <td class='col-1'>${i++}</td>
                            <td class='col-2'>${dependent.employee_id_id}</td>
                            <td class='col-3'>${dependent.name}</td>
                            <td class='col-3'>${dependent.phone_number}</td>
                            <td class='col-3'>${dependent.relationship}</td>
                            <td class='hide'></td>
                        </tr>`;
                    });
                    $('#DependentList > tbody').html(rows);
                },
            });        
        });

        $('#btnAddDependent').click(function() {
            console.log('btnAddDependent');
            var token = $('[name=csrfmiddlewaretoken]').val();
            $.ajax({
                url:  '/dependent/save2',
                type:  'post',
                data: $('#form_dependent').serialize(),
                headers: { "X-CSRFToken": token },
                dataType:  'json',
                success: function  (data) {
                    let rows =  '';
                    var i = 1;
                    data.dependents.forEach(dependent => {
                        rows += `
                        <tr>
                            <td class='col-1'>${i++}</td>
                            <td class='col-2'>${dependent.employee_id_id}</td>
                            <td class='col-3'>${dependent.name}</td>
                            <td class='col-3'>${dependent.phone_number}</td>
                            <td class='col-3'>${dependent.relationship}</td>
                            <td class='hide'></td>
                        </tr>`;
                    });
                    $('#DependentList > tbody').html(rows);
                },
            });   
        });
    });
</script>
{% endblock %}
</body>
</html>
