{% load static %}

<html>
    <head>
        
        <title>Coffee Prince</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>
<head>   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/glyphicon.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/cpe.css' %}">
    <link rel="icon" href="{% static 'images/loco_cp.png' %}">
    <title>{% block title %}{% endblock %}</title>

    {% block script %}
    {% endblock %} 

    <body>
        <ul class="nav bg-5">
            <li><a href="/">Home</a></li>
            <li><a href="/RecommendedMenu">Recommended Menu</a></li>
            <li><a href="/form">Form</a></li>
            <li><a href="/customer">Register</a></li>
        </form>
        </ul>
        {% block sub_menu %}
        {% endblock %}
    
        {% block content %}
        {% endblock %}
    </body>
    </html>