{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/glyphicon.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/cpe.css' %}">
    <link rel="icon" href="{% static 'images/loco_cp.png' %}">
    <!-- <body style="background-color:rgb(255, 241, 220);"></body> -->
    <body class="bg" style="background-image: url('/static/images/coffee_blackground.jpg');"></body>
    <title>{% block title %}{% endblock %}</title>

    {% block script %}
    {% endblock %} 

    <body>
        <ul class="nav bg-5">
            <li><a class="navbar-brand" href="/">Coffee Prince</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/form/Stock">Stock</a></li>
            <li><a href="/form">Forms</a></li>
            <li><a href="/customer">Register</a></li>
        </ul>
        {% block sub_menu %}
        {% endblock %}
    
        {% block content %}
        {% endblock %}
    </body>
    </html>