{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/glyphicon.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/cpe.css' %}">
    <link rel="icon" href="{% static 'images/loco.jpg' %}">
    <body style="background-color:rgb(255, 241, 220);"></body>
    <title>{% block title %}{% endblock %}</title>

    {% block script %}
    {% endblock %} 

    <body>
        <ul class="nav bg-5">
            <li><a href="/">Home</a></li>
            <li><a href="/RecommendedMenu">Recommended Menu</a></li>
            <li><a href="/form">Forms</a></li>
            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post" novalidate>
                {% csrf_token %}
                <li><a href="/order">Order Forms</a></li>
                <li><a href="/report/report">Reports</a></li>
                <li><a href="/form">Forms</a></li>
                <li><a href="/register">Register</a></li>
                <span class="name"> Hello, {{request.user.username}}</span>
                <button class="btn btn-light m-2 mb-2" type="submit">Log Out</button>
        </form>
        {% endif %}
        {% if not user.is_authenticated %}
        <a class="btn btn-warning m-2 mb-2" href="{% url 'register' %}">Register</a>
        <a class="btn btn-success m-2 mb-2" href="{% url 'login' %}">Log in</a>
        {% endif %}
            
    
        </ul>
        {% block sub_menu %}
        {% endblock %}
    
        {% block content %}
        {% endblock %}
    </body>
    </html>